.contact-view-modal {
    background: #e8e8e8;

    &-avatar {
        &-border {
            border-radius: 50%;
            width: 100px;
            background: #efe80b73;
        }

        .user-circle {
            display: flex;
            height: 100px;
            width: 100px;
            justify-content: center;
            align-items: center;
        }
    }

    .ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
