.contact-view-modal {
    background: #e8e8e8;

    &-avatar {

        &-border {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #efe80b73;
        }
        .user-circle {
            font-size: 0px;
        }
        .user-circle:first-letter {
            font-size: 30px;
        }
    }

    .ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
